<% if current_user && current_user.diary.present? %>
  <h2><%= current_user.diary.diarys_title %>の日記</h2>
  <%= link_to "投稿を作成する", new_diary_post_path(current_user.diary), class: "btn btn-primary" %>
<% else %>
  <%= form_with model: Diary.new, url: diaries_path, local: true do |form| %>
    <div>
      <%= form.label :diarys_title, "ユーザー登録後、" %>
      <p><%= form.label :diarys_title, "あなただけの日記を作りましょう" %></p>
      <p><%= form.text_field :diarys_title %></p>
    </div>
    <div>
      <%= form.submit "作る" %>
    </div>
  <% end %>
<% end %>
