<script>
  function toggleForm(postId) {
    const form = document.getElementById(`form_${postId}`);
    const triangleIcon = document.getElementById(`triangle-icon-${postId}`);

    form.style.display = form.style.display === "none" ? "block" : "none";
    triangleIcon.classList.toggle('triangle-down');
    triangleIcon.classList.toggle('triangle-up');
  }
</script>

<div class="flex w-full flex-col p-4 sm:max-w-xl mx-auto">
  <div class="card bg-deep-green rounded-box shadow-md p-4">
    <p class="text-lg text-light-khaki font-semibold ml-2">
    目標: <br>
    <span class="text-light-brown font-normal"><%= post.target %></span>
    </p>

    <p class="text-lg text-light-khaki font-semibold ml-2">
    ご褒美: <br>
    <span class="text-light-brown font-normal"><%= post.treat %></span>
    </p>

    <% if post.diary.user == current_user %>
      <!-- 編集と削除ボタン -->
      <div class="flex space-x-2 mt-2 ml-2">
        <%= link_to "編集", edit_diary_post_path(post.diary, post), class: "btn text-light-khaki bg-deep-brown hover:bg-black-brown py-3 flex items-center justify-center" %>
        <%= link_to "削除", diary_post_path(post.diary, post), data: { turbo_method: :delete, turbo_confirm: t('defaults.delete_confirm') }, 
        class: "btn text-light-khaki bg-deep-brown hover:bg-black-brown py-3 flex items-center justify-center" %>
      </div>

        <%= render 'posts/post_action', post: post %> <!-- 実行機能 -->

      <!-- 達成ボタン -->
      <div class=" ml-2">
        <%= link_to "達成ボタン", posts_bloom_path, class: "btn text-light-khaki bg-deep-brown hover:bg-apricot-pink btn-sm", method: :get %>
      </div>
    <% end %>
  </div>
</div>
