<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Tailwind CSS の CDN を読み込む -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@3.3.2/dist/tailwind.min.css" rel="stylesheet">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <header>
      <div class="navbar bg-deep-brown shadow-lg">

        <!-- アプリのタイトル -->
        <div class="flex-1">
          <a href="/" class="btn btn-ghost normal-case text-xl">BLOOM DIARY</a>
        </div>

        <!-- 右側のメニュー -->
        <% if user_signed_in? %>
          <%= render partial: 'layouts/login_header' %>
        <% else %>
          <%= render partial: 'layouts/logout_header' %>
        <% end %>
    </header>
    <!-- メインコンテンツ -->
    <main>
    <%= yield %>
    </main>
  </body>
</html>
