<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
  <header>
  <% if user_signed_in? %>
    <%= render partial: 'layouts/login_header' %>
  <% else %>
    <%= render partial: 'layouts/logout_header' %>
  <% end %>

  <!-- 共有一覧リンクを両方に表示する -->
    <%= render partial: 'posts/shared_links' %>
  </header>

    <%= yield %>
  </body>
</html>
